

//color
:root{
    --primary:#8FB0DC;
    --second:#EFEFEF;
    --error:#DC8F8F;
    --bg-image: url('');
    --bg-image-mobile: url('');
    
  }

$primary:#8FB0DC;//--primary
$white: #fff;
$error: #DC8F8F;
$bg_grey:#F8F8F6;
$logo_grey:#727171;
$text_grey2:#A5A5A5;
$light_grey3:#D6D6D6;
$light_grey4: #EFEFEF; //--second
$dark:#121212;
  
  //size
  $infoBoxHeight: 65vh;
  
  //path
  $img-path: '../img/';



